*.orig
/*.bin
/*.dll
/*.exe
/*.jar
/*.log*
/.calva/
/.classpath
/.clj-kondo/
/.cpcache/
/.lsp/
/.nrepl-port
/.project
/.settings/
/.shadow-cljs/
/classes/
/dist/
/native-image-args
/node_modules/
/pom.xml
/skylobby-*.msi
/skyres
/target/
/trace.edn
/*.build_artifacts.txt
