{:paths ["src/clj" "lib/lua-parser/src/main/antlr3/nl/bigo/luaparser"]
 :deps
 {aleph/aleph {:mvn/version "0.4.6"}
  byte-streams/byte-streams {:mvn/version "0.2.4"}
  clj-antlr/clj-antlr {:mvn/version "0.2.7"}
  cljfx/cljfx {:mvn/version "1.7.10"}
  com.evocomputing/colors {:mvn/version "1.0.6"}
  com.taoensso/timbre {:mvn/version "5.1.0"}
  digest/digest {:mvn/version "1.4.9"}
  gloss/gloss {:mvn/version "0.2.6"}
  net.sf.sevenzipjbinding/sevenzipjbinding {:mvn/version "16.02-2.01"}
  net.sf.sevenzipjbinding/sevenzipjbinding-all-platforms {:mvn/version "16.02-2.01"}
  org.clojure/clojure {:mvn/version "1.10.2-alpha4"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.openjfx/javafx-controls {:mvn/version "15.0.1"}
  smee/binary {:mvn/version "0.5.5"}}
 :aliases
 {:nrepl
  {:extra-paths ["dev/clj/user" "test/clj"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.4"}
    com.jakemccrary/lein-test-refresh {:mvn/version "0.24.1"}
    hawk/hawk {:mvn/version "0.2.11"}
    net.cgrand/parsley {:mvn/version "0.9.3"}
    nrepl/nrepl {:mvn/version "0.8.3"}
    org.clojure/tools.namespace {:mvn/version "1.0.0"}
    pjstadig/humane-test-output {:mvn/version "0.10.0"}
    reply/reply {:mvn/version "0.4.4"}}
   :main-opts ["--main" "repl"]}
  :test
  {:extra-paths ["dev/clj/test" "test/clj"]
   :extra-deps {com.jakemccrary/lein-test-refresh {:mvn/version "0.24.1"}
                pjstadig/humane-test-output {:mvn/version "0.10.0"}}
   :main-opts ["-m" "tests"]}}}
