{:paths ["src/clj" "resources"]
 :deps
 {aleph/aleph {:mvn/version "0.4.6"}
  byte-streams/byte-streams {:mvn/version "0.2.4"}
  cheshire/cheshire {:mvn/version  "5.10.0"}
  clj-jgit/clj-jgit {:mvn/version "1.0.1"}
  clj-http/clj-http {:mvn/version "3.11.0"}
  cljfx/cljfx {:mvn/version "1.7.10"}
  clojail/clojail {:mvn/version "1.0.6"}
  clojure-humanize/clojure-humanize {:mvn/version "0.2.2"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
  com.climate/claypoole {:mvn/version "1.1.4"}
  com.evocomputing/colors {:mvn/version "1.0.6"}
  com.taoensso/timbre {:mvn/version "5.1.0"}
  commons-io/commons-io {:mvn/version "2.8.0"}
  crouton/crouton {:mvn/version "0.1.2"}
  digest/digest {:mvn/version "1.4.9"}
  gloss/gloss {:mvn/version "0.2.6"}
  gr.zdimensions/jsquish {:local/root "lib/jsquish.jar"}
  hashp/hashp {:mvn/version "0.2.0"}
  hawk/hawk {:mvn/version "0.2.11"}
  instaparse/instaparse {:mvn/version "1.4.10"}
  io.aviso/pretty {:mvn/version "0.1.37"}
  jarohen/chime {:mvn/version "0.3.2"}
  me.raynes/fs {:mvn/version "1.4.6"}
  net.sf.sevenzipjbinding/sevenzipjbinding {:mvn/version "16.02-2.01"}
  net.sf.sevenzipjbinding/sevenzipjbinding-all-platforms {:mvn/version "16.02-2.01"}
  org.clojure/clojure {:mvn/version "1.10.2-alpha4"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/core.cache {:mvn/version "1.0.207"}
  org.clojure/core.memoize {:mvn/version "1.0.236"}
  org.kordamp.ikonli/ikonli-javafx {:mvn/version "12.0.0"}
  org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "12.0.0"}
  org.luaj/luaj-jse {:mvn/version "3.0.1"} ; TODO vendor 3.0.2
  org.openjfx/javafx-controls {:mvn/version "15.0.1"}
  org.openjfx/javafx-swing {:mvn/version "15.0.1"}
  shams/priority-queue {:mvn/version "0.1.2"}
  smee/binary {:mvn/version "0.5.5"}
  toml/toml {:mvn/version "0.1.3"}
  version-clj/version-clj {:mvn/version "0.1.2"}}
 :aliases
 {:nrepl
  {:extra-paths ["dev/clj/user" "test/clj"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.25.5"}
    clj-commons/pomegranate {:mvn/version "1.2.0"}
    com.jakemccrary/lein-test-refresh {:mvn/version "0.24.1"}
    net.cgrand/parsley {:mvn/version "0.9.3"}
    nrepl/nrepl {:mvn/version "0.8.3"}
    org.clojure/tools.namespace {:mvn/version "1.1.0"}
    pjstadig/humane-test-output {:mvn/version "0.10.0"}
    reply/reply {:mvn/version "0.4.4"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["--main" "repl"]}
  :test-refresh
  {:extra-paths ["dev/clj/test" "test/clj"]
   :extra-deps {com.jakemccrary/lein-test-refresh {:mvn/version "0.24.1"}
                pjstadig/humane-test-output {:mvn/version "0.10.0"}}
   :main-opts ["-m" "tests"]}
  :uberjar
  {:extra-paths ["dev/clj/jar"]
   :extra-deps
   {seancorfield/depstar {:mvn/version "1.1.136"}}
   :main-opts ["-m" "uberjar"]}
  :kaocha
  {:extra-paths ["test/clj"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}
   :main-opts ["-m" "kaocha.runner" "--watch"]}
  :test-once
  {:extra-paths ["test/clj"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}
   :main-opts ["-m" "kaocha.runner"]}
  :test
  {:extra-paths ["test/clj"]}
  ; https://github.com/cljfx/cljfx/blob/9a3c696d6f18828d35e4d1f4d71e8104b7a85576/deps.edn#L27-L28
  :headless
  {:jvm-opts ["-Dtestfx.robot=glass" "-Dglass.platform=Monocle" "-Dmonocle.platform=Headless" "-Dprism.order=sw"]
   :extra-deps
   {org.testfx/openjfx-monocle {:mvn/version "jdk-12.0.1+2"}}}
  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner" "-d" "test/clj"]}}}
