{:paths ["resources"]
 :mvn/repos
 {"local" {:url "file:./repo"}
  "jcenter" {:url "https://jcenter.bintray.com/"}}
 :deps
 {
  aleph/aleph {:mvn/version "0.4.7-alpha10"}
  cheshire/cheshire {:mvn/version  "5.10.2"}
  clj-jgit/clj-jgit {:mvn/version "1.0.2"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  cljfx/cljfx {:mvn/version "1.7.19"
               :exclusions [org.openjfx/javafx-web]}
  cljfx/css {:mvn/version "1.1.0"}
  clojail/clojail {:mvn/version "1.0.6"}
  clojure-humanize/clojure-humanize {:mvn/version "0.2.2"}
  clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
  com.evocomputing/colors {:mvn/version "1.0.6"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
  com.taoensso/encore {:mvn/version "3.21.0"}
  com.taoensso/nippy {:mvn/version "3.1.1"}
  com.taoensso/sente {:mvn/version "1.16.2"}
  com.taoensso/timbre {:mvn/version "5.1.2"}
  com.taoensso/tufte {:mvn/version "2.2.0"}
  commons-io/commons-io {:mvn/version "2.11.0"}
  crouton/crouton {:mvn/version "0.1.2"}
  crypto-random/crypto-random {:mvn/version "1.2.1"}
  digest/digest {:mvn/version "1.4.10"}
  expound/expound {:mvn/version "0.9.0"}
  gloss/gloss {:mvn/version "0.2.6"}
  gr.zdimensions/jsquish {:mvn/version "1.0"}
  http-kit/http-kit {:mvn/version "2.5.3"}
  io.aviso/pretty {:mvn/version "1.1.1"}
  io.netty/netty-codec {:mvn/version "4.1.74.Final"}
  io.netty/netty-codec-http {:mvn/version "4.1.74.Final"}
  io.netty/netty-handler {:mvn/version "4.1.74.Final"}
  io.netty/netty-handler-proxy {:mvn/version "4.1.74.Final"}
  io.netty/netty-resolver {:mvn/version "4.1.74.Final"}
  io.netty/netty-resolver-dns {:mvn/version "4.1.74.Final"}
  io.netty/netty-transport {:mvn/version "4.1.74.Final"}
  io.netty/netty-transport-native-epoll {:mvn/version "4.1.74.Final"}
  hashp/hashp {:mvn/version "0.2.1"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  instaparse/instaparse {:mvn/version "1.4.10"}
  jarohen/chime {:mvn/version "0.3.3"}
  manifold/manifold {:mvn/version "0.2.3"}
  me.raynes/fs {:mvn/version "1.4.6"}
  metosin/reitit {:mvn/version "0.5.16"}
  net.sf.sevenzipjbinding/sevenzipjbinding {:mvn/version "16.02-2.01"}
  net.sf.sevenzipjbinding/sevenzipjbinding-all-platforms {:mvn/version "16.02-2.01"}
  org.apache.commons/commons-collections4 {:mvn/version "4.4"}
  org.apache.commons/commons-compress {:mvn/version "1.21"}
  org.clj-commons/byte-streams {:mvn/version "0.2.10"}
  org.clojure/core.cache {:mvn/version "1.0.225"}
  org.clojure/core.memoize {:mvn/version "1.0.257"}
  org.clojure/clojure {:mvn/version "1.11.0-rc1"}
  org.clojure/core.async {:mvn/version "1.5.648"}
  org.clojure/spec.alpha {:mvn/version "0.3.218"}
  org.clojure/test.check {:mvn/version "1.1.1"}
  org.clojure/tools.cli {:mvn/version "1.0.206"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}
  org.codehaus.griffon.plugins/griffon-flagicons-javafx {:mvn/version "1.1.0"}
  org.controlsfx/controlsfx {:mvn/version "11.1.1"}
  org.fxmisc.flowless/flowless {:mvn/version "0.6.8"}
  org.fxmisc.richtext/richtextfx {:mvn/version "0.10.7"}
  org.kordamp.ikonli/ikonli-javafx {:mvn/version "12.3.0"}
  org.kordamp.ikonli/ikonli-materialdesign-pack {:mvn/version "12.3.0"}
  org.luaj/luaj-jse {:mvn/version "3.0.1"} ; TODO vendor 3.0.2
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
  org.tukaani/xz {:mvn/version "1.9"}
  ring/ring-anti-forgery {:mvn/version "1.3.0"}
  ring/ring-core {:mvn/version "1.9.5"}
  shams/priority-queue {:mvn/version "0.1.2"}
  smee/binary {:mvn/version "0.5.5"}
  version-clj/version-clj {:mvn/version "2.0.2"}}
 :aliases
 {:nrepl
  {:extra-paths ["src/clj" "graal/clj" "dev/clj/jar" "dev/clj/user" "test/clj"]
   :extra-deps
   {
    cider/cider-nrepl {:mvn/version "0.28.2"}
    cider/orchard {:mvn/version "0.9.1"}
    clj-commons/pomegranate {:mvn/version "1.2.1"}
    hawk/hawk {:mvn/version "0.2.11"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    io.github.clojure/tools.build {:git/tag "v0.7.7"
                                   :git/sha "1474ad6"
                                   :exclusions [org.slf4j/slf4j-nop]}
    net.cgrand/parsley {:mvn/version "0.9.3"}
    nrepl/nrepl {:mvn/version "0.9.0"}
    org.clojure/tools.namespace {:mvn/version "1.2.0"}
    pjstadig/humane-test-output {:mvn/version "0.11.0"}
    reply/reply {:mvn/version "0.5.1"}}
   :jvm-opts ["-server" "-Xms128m" "-Xmx8g" "-XX:+DoEscapeAnalysis" "-XX:+ExitOnOutOfMemoryError"
              "-XX:+UseCompressedOops" "-XX:-OmitStackTraceInFastThrow"
              "-Dprism.allowhidpi=\"true\"" "-Dglass.win.minHiDPI=1"]
   :main-opts ["--main" "repl"]}
  :nrepl-headless
  {:extra-paths ["src/clj" "graal/clj" "dev/clj/jar" "dev/clj/user" "test/clj"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.28.2"}
    cider/orchard {:mvn/version "0.9.1"}
    clj-commons/pomegranate {:mvn/version "1.2.1"}
    hawk/hawk {:mvn/version "0.2.11"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    io.github.clojure/tools.build {:git/tag "v0.7.7"
                                   :git/sha "1474ad6"
                                   :exclusions [org.slf4j/slf4j-nop]}
    net.cgrand/parsley {:mvn/version "0.9.3"}
    nrepl/nrepl {:mvn/version "0.9.0"}
    org.clojure/tools.namespace {:mvn/version "1.2.0"}
    pjstadig/humane-test-output {:mvn/version "0.11.0"}
    reply/reply {:mvn/version "0.5.1"}}
   :jvm-opts ["-server" "-Xms128m" "-Xmx1g" "-XX:+DoEscapeAnalysis" "-XX:+ExitOnOutOfMemoryError"
              "-XX:+UseCompressedOops" "-XX:-OmitStackTraceInFastThrow"
              "-Dprism.allowhidpi=\"true\"" "-Dglass.win.minHiDPI=1"]
   :main-opts ["--main" "repl" "headless"]}
  :cljs
  {:extra-paths ["src/cljs"]
   :extra-deps
   {
    org.clojure/core.async {:mvn/version "1.5.648"}
    com.taoensso/sente {:mvn/version "1.16.2"}
    com.taoensso/timbre {:mvn/version "5.1.2"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    metosin/reitit {:mvn/version "0.5.16"}
    re-frame/re-frame {:mvn/version "1.2.0"}
    reagent/reagent {:mvn/version "1.1.0"}
    thheller/shadow-cljs {:mvn/version "2.17.3"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :uberjar
  {:extra-paths ["src/clj" "graal/clj" "dev/clj/jar"]
   :replace-deps
   {
    clj-jgit/clj-jgit {:mvn/version "1.0.2"}
    cljfx/cljfx {:mvn/version "1.7.19"
                 :exclusions [org.openjfx/javafx-web]}
    com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
    com.taoensso/timbre {:mvn/version "5.1.2"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    io.github.clojure/tools.build {:git/tag "v0.7.7"
                                   :git/sha "1474ad6"
                                   :exclusions [org.slf4j/slf4j-nop]}}
   :main-opts ["-m" "uberjar"]}
  :kaocha
  {:extra-paths ["src/clj" "graal/clj" "test/clj"]
   :extra-deps
   {
    io.aviso/pretty {:mvn/version "1.1.1"}
    lambdaisland/kaocha {:mvn/version "1.63.998"}}
   :main-opts ["-m" "kaocha.runner" "--watch"]}
  :skylobby
  {:deps
   {
    io.github.clojure/tools.build {:git/tag "v0.7.7"
                                   :git/sha "1474ad6"}}
   :ns-default skylobby}
  :skylobby-deps
  {:replace-deps
   {
    aleph/aleph {:mvn/version "0.4.7-alpha10"}
    clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    clj-jgit/clj-jgit {:mvn/version "0.8.10"}
    clojail/clojail {:mvn/version "1.0.6"}
    clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
    com.evocomputing/colors {:mvn/version "1.0.6"}
    com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
    com.github.clj-easy/graal-config-clj-http
    {:git/url "https://github.com/clj-easy/graal-config"
     :git/sha "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
     :deps/root "config/clj-http/clj-http"}
    com.github.clj-easy/graal-config-nippy
    {:git/url   "https://github.com/clj-easy/graal-config"
     :git/sha   "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
     :deps/root "config/com.taoensso/nippy"}
    com.taoensso/encore {:mvn/version "3.21.0"}
    com.taoensso/nippy {:mvn/version "3.1.1"}
    com.taoensso/sente {:mvn/version "1.16.2"}
    com.taoensso/timbre {:mvn/version "5.1.2"}
    com.taoensso/tufte {:mvn/version "2.2.0"}
    commons-io/commons-io {:mvn/version "2.11.0"}
    crouton/crouton {:mvn/version "0.1.2"}
    gr.zdimensions/jsquish {:mvn/version "1.0"}
    http-kit/http-kit {:mvn/version "2.5.3"}
    instaparse/instaparse {:mvn/version "1.4.10"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    io.netty/netty-codec {:mvn/version "4.1.74.Final"}
    io.netty/netty-codec-http {:mvn/version "4.1.74.Final"}
    io.netty/netty-handler {:mvn/version "4.1.74.Final"}
    io.netty/netty-handler-proxy {:mvn/version "4.1.74.Final"}
    io.netty/netty-resolver {:mvn/version "4.1.74.Final"}
    io.netty/netty-resolver-dns {:mvn/version "4.1.74.Final"}
    io.netty/netty-transport {:mvn/version "4.1.74.Final"}
    io.netty/netty-transport-native-epoll {:mvn/version "4.1.74.Final"}
    jarohen/chime {:mvn/version "0.3.3"}
    manifold/manifold {:mvn/version "0.2.3"}
    me.raynes/fs {:mvn/version "1.4.6"}
    metosin/reitit {:mvn/version "0.5.16"}
    net.sf.sevenzipjbinding/sevenzipjbinding {:mvn/version "16.02-2.01"}
    net.sf.sevenzipjbinding/sevenzipjbinding-all-platforms {:mvn/version "16.02-2.01"}
    org.apache.commons/commons-compress {:mvn/version "1.21"}
    org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
    org.clojure/core.async {:mvn/version "1.5.648"}
    org.clojure/spec.alpha {:mvn/version "0.3.218"}
    org.clojure/tools.cli {:mvn/version "1.0.206"}
    org.clojure/tools.logging {:mvn/version "1.2.4"}
    org.clojure/tools.namespace {:mvn/version "1.2.0"}
    org.clojure/tools.reader {:mvn/version "1.3.6"}
    org.luaj/luaj-jse {:mvn/version "3.0.1"} ; TODO vendor 3.0.2
    org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
    org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
    org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
    ring/ring-anti-forgery {:mvn/version "1.3.0"}
    ring/ring-core {:mvn/version "1.9.5"}
    smee/binary {:mvn/version "0.5.5"}}}
  :skylobby-main
  {:replace-paths ["resources" "graal/clj"]
   :main-opts ["-m" "skylobby.main"]}
  :skylobby-native-linux
  {:replace-paths ["resources" "dev/clj/graal" "graal/clj" "native-res/linux"]
   :main-opts ["-m" "native-image" "skylobby.main" "--no-fallback" "--allow-incomplete-classpath"
               "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
               "--initialize-at-build-time=io.aviso" "--initialize-at-build-time=slf4j_timbre"
               "--initialize-at-build-time=com.github.fzakaria.slf4j.timbre"
               "--report-unsupported-elements-at-runtime"
               "-J-Xmx6g" "-H:+StaticExecutableWithDynamicLibC"
               "-H:+ReportExceptionStackTraces" ;"-H:NumberOfThreads=1"
               "-H:Name=skylobby"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  :skylobby-native-windows
  {:replace-paths ["resources" "dev/clj/graal" "graal/clj" "native-res/windows"]
   :main-opts ["-m" "native-image" "skylobby.main" "--no-fallback" "--allow-incomplete-classpath"
               "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
               "--initialize-at-build-time=io.aviso" "--initialize-at-build-time=slf4j_timbre"
               "--initialize-at-build-time=com.github.fzakaria.slf4j.timbre"
               "--report-unsupported-elements-at-runtime"
               "-J-Xmx7g" "-H:+StaticExecutableWithDynamicLibC"
               "-H:+ReportExceptionStackTraces" ;"-H:NumberOfThreads=8"
               ;"-H:+TraceNativeToolUsage"
               "-H:Name=skylobby"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  :skylobby-native-mac
  {:replace-paths ["resources" "dev/clj/graal" "graal/clj" "native-res/linux"]
   :main-opts ["-m" "native-image" "skylobby.main" "--no-fallback" "--allow-incomplete-classpath"
               "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
               "--initialize-at-build-time=io.aviso" "--initialize-at-build-time=slf4j_timbre"
               "--initialize-at-build-time=com.github.fzakaria.slf4j.timbre"
               "--report-unsupported-elements-at-runtime"
               "-J-Xmx6g" ;"-H:+StaticExecutableWithDynamicLibC"
               "-H:+ReportExceptionStackTraces" ;"-H:NumberOfThreads=1"
               "-H:Name=skylobby"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  :skylobby-cli
  {:deps
   {
    io.github.clojure/tools.build {:git/tag "v0.7.7"
                                   :git/sha "1474ad6"}}
   :ns-default skylobby-cli}
  :skylobby-cli-deps
  {:replace-deps
   {
    clj.native-image/clj.native-image
    {:git/url "https://github.com/taylorwood/clj.native-image.git"
     :sha "4604ae76855e09cdabc0a2ecc5a7de2cc5b775d6"}
    clj-http/clj-http {:mvn/version "3.12.3"}
    clj-jgit/clj-jgit {:mvn/version "0.8.10"}
    clojail/clojail {:mvn/version "1.0.6"}
    clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
    com.evocomputing/colors {:mvn/version "1.0.6"}
    com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
    com.github.clj-easy/graal-config-clj-http
    {:git/url "https://github.com/clj-easy/graal-config"
     :git/sha "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
     :deps/root "config/clj-http/clj-http"}
    com.github.clj-easy/graal-config-nippy
    {:git/url   "https://github.com/clj-easy/graal-config"
     :git/sha   "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
     :deps/root "config/com.taoensso/nippy"}
    com.taoensso/nippy {:mvn/version "3.1.1"}
    com.taoensso/sente {:mvn/version "1.16.2"}
    com.taoensso/timbre {:mvn/version "5.1.2"}
    com.taoensso/tufte {:mvn/version "2.2.0"}
    commons-io/commons-io {:mvn/version "2.11.0"}
    crouton/crouton {:mvn/version "0.1.2"}
    gr.zdimensions/jsquish {:mvn/version "1.0"}
    http-kit/http-kit {:mvn/version "2.5.3"}
    instaparse/instaparse {:mvn/version "1.4.10"}
    jarohen/chime {:mvn/version "0.3.3"}
    me.raynes/fs {:mvn/version "1.4.6"}
    metosin/reitit {:mvn/version "0.5.16"}
    net.sf.sevenzipjbinding/sevenzipjbinding {:mvn/version "16.02-2.01"}
    net.sf.sevenzipjbinding/sevenzipjbinding-all-platforms {:mvn/version "16.02-2.01"}
    org.apache.commons/commons-compress {:mvn/version "1.21"}
    org.clojure/core.async {:mvn/version "1.5.648"}
    org.clojure/tools.cli {:mvn/version "1.0.206"}
    org.luaj/luaj-jse {:mvn/version "3.0.1"} ; TODO vendor 3.0.2
    org.slf4j/log4j-over-slf4j {:mvn/version "1.7.36"}
    org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
    org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
    ring/ring-anti-forgery {:mvn/version "1.3.0"}
    ring/ring-core {:mvn/version "1.9.5"}
    smee/binary {:mvn/version "0.5.5"}}}
  :skylobby-cli-main
  {:replace-paths ["graal/clj"]
   :main-opts ["-m" "skylobby.cli"]}
  :skylobby-cli-native-linux
  {:replace-paths ["dev/clj/graal" "graal/clj" "native-res/linux"]
   :main-opts ["-m" "native-image" "skylobby.cli" "--no-fallback" "--allow-incomplete-classpath"
               "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
               "--initialize-at-build-time=io.aviso" "--initialize-at-build-time=slf4j_timbre"
               "--initialize-at-build-time=com.github.fzakaria.slf4j.timbre"
               "-H:+ReportExceptionStackTraces" ;"-H:NumberOfThreads=1"
               "-H:-BuildOutputUseNewStyle" "--enable-http" "--enable-https"
               "-H:Name=skylobby-cli"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  :skylobby-cli-native-windows
  {:replace-paths ["dev/clj/graal" "graal/clj" "native-res/windows"]
   :main-opts ["-m" "native-image" "skylobby.cli" "--no-fallback" "--allow-incomplete-classpath"
               "--initialize-at-run-time=org.apache.http.impl.auth.NTLMEngineImpl"
               "--initialize-at-build-time=io.aviso" "--initialize-at-build-time=slf4j_timbre"
               "--initialize-at-build-time=com.github.fzakaria.slf4j.timbre"
               "-H:+ReportExceptionStackTraces" ;"-H:NumberOfThreads=1"
               "-H:-BuildOutputUseNewStyle" "--enable-http" "--enable-https"
               "-H:Name=skylobby-cli"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  :reveal
  {:extra-paths ["src/clj" "graal/clj" "dev/clj/jar" "dev/clj/user" "test/clj"]
   :extra-deps
   {cider/cider-nrepl {:mvn/version "0.28.2"}
    cider/orchard {:mvn/version "0.9.1"}
    clj-commons/pomegranate {:mvn/version "1.2.1"}
    cljfx/cljfx {:mvn/version "1.7.19"}
    hawk/hawk {:mvn/version "0.2.11"}
    io.aviso/pretty {:mvn/version "1.1.1"}
    net.cgrand/parsley {:mvn/version "0.9.3"}
    nrepl/nrepl {:mvn/version "0.9.0"}
    org.clojure/tools.namespace {:mvn/version "1.2.0"}
    pjstadig/humane-test-output {:mvn/version "0.11.0"}
    reply/reply {:mvn/version "0.5.1"}
    vlaaad/reveal {:mvn/version "1.3.265"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["--main" "vlaaad.reveal" "repl"]}
  :test-once
  {:extra-paths ["src/clj" "graal/clj" "test/clj"]
   :extra-deps
   {
    io.aviso/pretty {:mvn/version "1.1.1"}
    lambdaisland/kaocha {:mvn/version "1.63.998"}}
   :main-opts ["-m" "kaocha.runner"]}
  :test
  {:extra-paths ["src/clj" "graal/clj" "test/clj"]}
  ; https://github.com/kiramclean/morphy/blob/main/deps.edn
  :coverage
  {:extra-paths ["src/clj" "graal/clj" "test/clj"]
   :extra-deps {cloverage/cloverage {:mvn/version "1.2.2"}}
   :main-opts ["-m" "cloverage.coverage" "-p" "src/clj" "-s" "test/clj" "--codecov"]}
  ; https://github.com/cljfx/cljfx/blob/9a3c696d6f18828d35e4d1f4d71e8104b7a85576/deps.edn#L27-L28
  :headless
  {:jvm-opts ["-Dtestfx.robot=glass" "-Dglass.platform=Monocle" "-Dmonocle.platform=Headless" "-Dprism.order=sw"]
   :extra-deps
   {org.testfx/openjfx-monocle {:mvn/version "jdk-12.0.1+2"}}}
  :runner
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :main-opts ["-m" "cognitect.test-runner" "-d" "test/clj"]
   :exec-fn cognitect.test-runner.api/test}}}
