{:lint-as {com.fulcrologic.fulcro.components/defsc clojure.core/defn}
 :linters
 {:unresolved-symbol
  {:exclude [(diehard.core/defratelimiter)
             (taoensso.nippy/extend-freeze)
             (taoensso.nippy/extend-thaw)]}
  :unresolved-var
  {:exclude [gloss.core/compile-frame
             gloss.io/to-byte-buffer]}
  :warn-on-reflection
  {:level :warn
   :warn-only-on-interop false}
  :aliased-namespace-symbol {:level :off}
  :docstring-no-summary {:level :off}
  :docstring-leading-trailing-whitespace {:level :off}
  :dynamic-var-not-earmuffed {:level :off}
  :reduce-without-init {:level :warn}
  :keyword-binding {:level :warn}
  :main-without-gen-class {:level :off}
  :missing-docstring {:level :off}
  :namespace-name-mismatch {:level :error}
  :redundant-fn-wrapper {:level :off}
  :refer {:level :off}
  :single-key-in {:level :warn}
  :shadowed-var {:level :off}
  :used-underscored-binding {:level :warn}
  :unused-value {:level :warn}
  :unsorted-required-namespaces {:level :warn}}
 :output
 {
  :exclude-files ["event_stub.clj"]}}
