/* https://tomsondev.bestsolution.at/2014/03/13/eclipse-on-javafx-get-dark-the-power-of-javafx-css/ */
.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background: rgb(50, 50, 50);
}

.text-field {
    -fx-prompt-text-fill: rgb(180, 180, 180);
}
